*.csv
*.rda
*.Rdata
genotype_data
degradation_joint_strand_*
preprocessed_data*
.Rproj.user
PGC_MDD_sumstats
synapse/*.xlsx
*.tsv
genotype_data_old
qc_checks/plotly/*
trash/*
deconvolution/plots/*
*.bed
*.bim
*.fam
*.log
*.nosex
twas*/*.RData
twas*/logs
twas*/*gene
test
## looks like errors?
prs
## should be deleted
plink2
data/*.vcf*
twas_mdd/trash/*
eqtl/genomewide/*.pdf
eqtl/genomewide/plots/*
