[submodule "predixcan_pipeline/MetaXcan"]
	path = predixcan_pipeline/MetaXcan
	url = https://github.com/hakyimlab/MetaXcan.git
[submodule "predixcan_pipeline/PredictDB_Pipeline_GTEx_v7"]
	path = predixcan_pipeline/PredictDB_Pipeline_GTEx_v7
	url = https://github.com/hakyimlab/PredictDB_Pipeline_GTEx_v7.git
