[submodule "predixcan_pipeline/MetaXcan"]
	path = predixcan_pipeline/MetaXcan
	url = https://github.com/hakyimlab/MetaXcan.git
[submodule "predixcan_pipeline/rnaseq-utils"]
	path = predixcan_pipeline/rnaseq-utils
	url = https://github.com/francois-a/rnaseq-utils.git
[submodule "predixcan_pipeline/PredictDB-Tutorial"]
	path = predixcan_pipeline/PredictDB-Tutorial
	url = https://github.com/LieberInstitute/PredictDB-Tutorial.git
[submodule "leafcutter/code/leafcutter"]
	path = leafcutter/code/leafcutter
	url = git@github.com:davidaknowles/leafcutter.git
