data/risk_snps/LIBD_maf01_gwas_BPD*
data/tensorQTL_input/expression_bed/*
data/signif_snps/*
data/tensorQTL_out/*
data/tensorQTL_FDR01/genomewide_nominal/*
*.vcf.gz
Plots/test/*
data/plot_data/residual_expres.Rdata
